body, body * {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background: rgba( 0, 0, 0, 0.5 );
  font-family: Helvetica;
  color: #FFF;
  overflow: hidden;
}

.hide {
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.appear {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transition: opacity 200ms linear, visibility 200ms linear;
  -moz-transition: opacity 200ms linear, visibility 200ms linear;
  -o-transition: opacity 200ms linear, visibility 200ms linear;
  -ms-transition: opacity 200ms linear, visibility 200ms linear;
  transition: opacity 200ms linear, visibility 200ms linear;
}

.page.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.page.unblur {
  -webkit-filter: none;
  filter: none;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.faded {
  background: rgba( 255, 255, 255, 0.2 );
}

.hello {
  margin: 3px;
}

.hello h1 {
  margin-bottom: 0;
  font-size: 24px;
  z-index: 15;
}

.footer {
  height: 30px;
  position: absolute;
  bottom: 0;
  margin: 5px;
}

.red {
  color: red;
}

.blue {
  color: lightblue;
}

.green {
  color: lightgreen;
}

.controls {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

a.hangup {
  font-size: 36px;
  line-height: 38px;
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: #FFF;
  padding: 0;
}

a.hangup:hover {
  color: #F00;
}

.paired, .self {
  position: absolute;
}

.paired {
  top: 0;
  left: -45px;
}

.self {
  bottom: 0;
  height: 90px;
  width: 90px;
  overflow: hidden;
  left: -15px;
}

.contacts a {
  text-decoration: none;
  color: #FFF;
}

.contacts ul {
  padding: 0;
  margin: 10px 0 0;
}

.contacts ul li {
  list-style-type: none;
  padding: 3px 0;
  margin: 3px;
}

.contacts ul li {
  background: rgba( 255, 255, 255, 0.2 );
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.contacts ul li:hover {
  background-color: rgba(175, 230, 173, 0.5);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.incomming {
  position: absolute;
  top: 0;
  left: 0;
}

.incomming a {
  color: #FFF;
  padding: 3px 7px;
  border-radius: 5px;
  text-decoration: none;
}

.incomming {
  text-align: center;
  width: 100%;
}

.incomming .callee {
  margin: 10px 0;
}

.sorry {
  position: absolute;
  top: 40px;
}

.incomming a.answer {
  background-color: lightgreen;
}

.incomming a.reject {
  background-color: lightpink;
}