- # encoding: utf-8
!!!5

%head
  %title CallMe App
  %meta{ :charset => "utf-8" }
  %link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
  %link{ :href => '/css/font.css', :rel => 'stylesheet' }
  %link{ :href => '/css/style.css', :rel => 'stylesheet' }
  - Callme::Application.scripts.each do |script|
    %script{ :src => "/js/#{script}.js", :type => 'text/javascript' }

%body
  #page.page
    #hello.hello
      %h1 Call<span class='orange'>Me</span> App
      HTML5 p<span class="orange">2</span>p video chat application
    #user.user.hide
      .user_name
        %span.name Anonimous
      .user_status.offline
        ●
        %span.text offline
    #contacts.contacts
      %h4 Contacts online:
      %ul
        %li Waiting for data…
      
    #video.video.offline
      #paired.paired
      #self.self
    
    %script{ :src=> "/js/widget.js", :type => 'text/javascript' }

  #register.register.hide
    %h4 Registration
    %label Username:
    %input#register_name{ :type => 'text', :name => 'name', :size => 30, :required => true }
    %br/
    %button#register_submit Connect

  #sorry.sorry.hide
    %h2.red Ooops, something is broken (((
    We are very sorry. It seems connection error has fired.
    %br/
    Please try <a href='#' onclick='window.location.reload()'>reload</a> this page a little bit later.
  .footer.ghost
    ©
    %a{ :href => "http://whitebox.io" } Whitebox.io