- # encoding: utf-8
!!!5

%head
  %title CallMe App
  %meta{ :charset => "utf-8" }
  %link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
  %link{ :href => '/css/font.css', :rel => 'stylesheet' }
  %link{ :href => '/css/style.css', :rel => 'stylesheet' }

%body
  #page.page
    %script{ :src=> "/js/widget.js", :type => 'text/javascript' }
  