- # encoding: utf-8
!!!5
%head
  %meta{ :charset => 'utf-8' }
  %link{ :href => '/css/widget.css', :rel => 'stylesheet' }
  - Callme::Application.widget_scripts.each do |script|
    %script{ :src => "js/#{script}.js", :type => 'text/javascript' }
  
%body
  #page.page
    #hello.hello.faded
      %h1 Видеосвязь
    #contacts.contacts
      %ul
        %li Ожидание данных...
    
    #video.video.offline
      #paired.paired
      #self.self
    
    #controls.controls.hide
      %a.hangup.red.faded{ :href => '#', :title => 'Завершить звонок' } ☎

  #sorry.sorry.hide
    %h2.red Ошибка: Связь потеряна.
    Приносим свои извинения, пропала связь с видеосервером.
    %br/
    Пожалуйста, <a href='#' onclick='window.location.reload()'>обновите</a> эту страницу немного позже.
  
  #incomming.incomming.hide
    %h3.blue Входящий вызов
    %h1.green.callee
    %a.answer{ :href => "#" } Принять
    %a.reject{ :href => "#" } Отклонить

:javascript
  window.addEventListener( "DOMContentLoaded", function() {
    CallMe.bang( #{session} );
  }, false );